@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Outfit", "system-ui", sans-serif;
  --font-display: "Outfit", "system-ui", sans-serif;

  --color-slate-950: #020617;
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
}

:root {
  font-family: var(--font-sans);
  color-scheme: dark;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0c10;
}

* {
  border-color: var(--color-slate-800);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}